<html lang="en">
   <body>
       <h1 style="border: 1px solid black; text-align: center;width: 30%;margin:auto; padding:20px">Tweets</h1>
       <% tweets.forEach( tweet => {%>
         <div style="border: 1px solid black; text-align: center;width: 30%;margin:auto; padding:20px">
             <h2> ID : <%= tweet._id %></h2>
             <h2> Title : <%= tweet.title %></h2>
             <p> Content :  <%= tweet.body %></p>
             <p> Tags : <%= tweet.tags %></p>
         </div>
      <% }) %>

      <%- include("./components/footer.ejs") %>

      <!-- <form action="/users" method="post"></form> -->
   </body>
</html>